@model IDA.Models.User

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div class="jumbotron" style="margin-bottom: 0px;height: 100vh;">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <div class="card" style=" margin-top:110px;">
                        <div class="card-title" style="text-align:center; background-color: #2295c9;">
                            <h4 style="color:whitesmoke">Use your email to Reset password</h4>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                            {
                                <h5 style="text-align:center; color:#013970; "></h5>
                                @Html.TextBox("title", null, new { @placeholder = "Enter your email", @class = "form-control valid", @data_val = "true", @data_val_required = " email is required" })
                                <span style="text-align:center; color:red">@ViewBag.Message</span><br /><br />
                                <input type="submit" value="Submit" class="btn btn-info btn-md" style="width:49%" />
                                <a href="/Account/Login" class="btn btn-info" style="color:white; width:50%">Back</a>

                            }
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>

</body>
</html>
<footer style="        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #2cadd1;
        height: 50px;
    ">
    <p>&copy; @DateTime.Now.Year - Powered by <a href=" http://www.izingcweti.co.za" style="color:orangered">IDAS</a></p>
</footer>
