
@{
    ViewBag.Title = "StuffDashboard";
    Layout = "~/Views/Shared/StuffLayout.cshtml";
}
<main class="pt-5 mx-sm-5">
    <div id="page-content-wrapper">
        <br /> <br />
        <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div style="text-align:center;" class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a style="color:orangered; ">Stuff Portal</a>

                </h4>

            </div>
        </div>
        <div class="jumbotron-fluid">

        </div>
        </div>
    </main>
