
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>DashBoard</title>
</head>
<body>
    <main class="pt-5 mx-lg-5">

        <div class="container-fluid mt-5">

            <br />
            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">

                        <span style=" color: orangered;">Dashboard</span>
                    </h4>


                    <a href="/Employees/ViewPDF" data-toggle="tooltip" title="Load user manual for guidance" style="float:right;" class="btn btn-info"><i class="fa fa-file mr-1" style="color:white;"></i>User Manual</a>

                </div>

            </div>


            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">Izingodla Employees</h5>
                            <hr />
                            <img src="~/Content/images/x-07-128.png" style="margin-left:90px" />
                            @*<img src="~/Content/images/folder-user.png" style="margin-left:90px"/>*@
                            <a href="/Employees/Index" class="btn btn-primary" style="margin-left:50px;border-radius:5px;">Manage Employees</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">Izingodla Projects</h5>
                            <hr />
                            <img src="~/Content/images/folder-project.png" style="margin-left:90px" />
                            <a href="/Projects/Index" class="btn btn-primary" style="margin-left:60px;border-radius:5px;">Manage Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">New Requests</h5>
                            <hr />
                            <img src="~/Content/images/folder-documents.png" style="margin-left:90px" />
                            <a href="/Employees/newRequests" class="btn btn-primary" style="margin-left:60px;border-radius:5px;">Project Request</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />



        </div>
        @*@Session["Name"]
            @Session["Surname"]
            @Session["Email"]
            @Session["Address"]
            @Session["Position"]*@
    </main>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
