
@{
    ViewBag.Title = "ClientProfile";
    Layout = "~/Views/Shared/ClientLayout.cshtml";
}
<main class="pt-5 mx-sm-5">
    <div id="page-content-wrapper">
        <br /> <br />
        <div class="card mb-4 wow fadeIn">
            <!--Card content-->
            <div style="text-align:center;" class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                    <a style="color:orangered; ">Profile</a>

                </h4>

            </div>
        </div>
        
            <!--Card-->
            <div class="card mr-5 mb-5">

                <!-- Background color -->
                <div class="card-up aqua-gradient"></div>

                <!-- Avatar -->
                <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                </div>

                <!-- Content -->
                <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">Martha Smith</h4>
                    <hr>
                    <!-- Quotation -->
                    <p>
                        <i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                        adipisci
                    </p>
                </div>

            </div>

            </div>
</main>